<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='css/override.css' rel='stylesheet' type='text/css'>
    <script src='js/azda.js'></script>
    <script src='js/azda.i18n.js'></script>
    <script src='js/game.js'></script>
  </head>
  <body>
  	<div id="wrapper">
  		<div id="header"></div>
  		<div id="containerbody">
        <p id="count"></p>
        <p class="key" id="inp"></p>
        <div class="panel" id="sugarpanel">
          <div class="panelhead">
            <div class="headsugar" id="close">&#10006;</div>
          </div>
          <div class="panelbody" id="sugarpanelbody">
          </div>
        </div>
      </div>
  		<div id="containerfooter">
        <div class="footertext">da us: azda@gmail.com</div>
        <div class="sugar" id="leaderboard">L</div>
      </div>
  	</div>
  </body>
</html>
