<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='assets/css/azda.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='assets/css/sugarpanel.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='assets/css/scrollbar.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <script src='assets/js/azda.js'></script>
    <script src='assets/js/azda.i18n.js'></script>
    <script src="assets/js/sound.js"></script>
  </head>
  <body>
  	<div id="wrapper">
  		<div id="header"></div>
  		<div id="containerbody">
        <p id="count"></p>
        <p class="key" id="inp"></p>
      </div>
  		<div id="containerfooter">
        <div class="footertext">da us: dev.bashlab@gmail.com</div>
        <div class="sugar" id="hints">H</div>
        <div class="sugar" id="leaderboard">L</div>
        <div class="sugar" id="modeboard">M</div>
      </div>
      <!--render by javascript -->
  	</div>
    <script src="assets/js/azda.SugarPanel.js"></script>
    <script src="assets/js/azda.Game.js"></script>
    <script src='assets/js/main.js'></script>
  </body>
</html>
